
:root {
    font-family: 'Inter', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background-color: #161614; 
    font-family: 'Inter', sans-serif; 
    color: rgb(244, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    box-sizing: border-box;
}


.registro-container { 
    background-color: #000000; 
    border: 2px solid rgba(255, 217, 0, 0.754); 
    border-radius: 15px;

    box-shadow: 0 5px 25px rgba(81, 70, 3, 0.754); 
    width: 90%; 
    max-width: 450px;
    
    padding: 40px 20px;
    text-align: center; 
    box-sizing: border-box;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}


label {
    display: block;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    background-color: white;
    color: #161614;
    font-size: 16px;
    border: 2px rgba(255, 217, 0, 0.754); 
    border-radius: 8px;
    padding: 0 15px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

input:focus {
    border-color:rgba(255, 217, 0, 0.754); 
    box-shadow: 0 0 15px rgba(255, 217, 0, 0.754); 
}


button {
    width: 100%;
    max-width: 370px;
    height: 55px;
    background-color: #51514E;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

button:hover {
    background-color: #6b6b68;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


p {
    margin-top: 25px;
    font-size: 16px;
    letter-spacing: 1.5px;
}


a {
    color: #1f8ef5;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #6b97c9;
    text-decoration: underline;
}


@media (min-width: 768px) {
    h1 {
        font-size: 40px;
        letter-spacing: 5.6px;
    }
    label {
        font-size: 20px;
        letter-spacing: 3px;
        padding: 0;
    }
}